body {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  background: #eee;
  color: #333;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#cover {
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#menu {
  z-index: 2;
  position: absolute;
  top: 0;
  right: -180px;
  color: #fff;
  background: #4c81e9;
  box-sizing: border-box;
  width: 180px;
  min-height: 100%;
  transition: 0.4s;
}

#show, #hide {
  float: right;
  cursor: pointer;
}

body.menu-open {
  overflow-y: hidden;
}
body.menu-open #cover {
  display: block;
}

body.menu-open #menu {
  right: 0;
}